<template>
  <v-expand-transition>
    <v-card
      v-show="showCities"
      class="mx-auto"
    >
      <v-card-text class="cities-list">
        <p 
          class="subtitle-2"
          v-for="city in cities"
          :key="city"
        >
          {{ city }}
        </p>
      </v-card-text>
    </v-card>
  </v-expand-transition>
</template>

<script>
export default {
  props: ['cities', 'showCities']
}
</script>

<style>
.cities-list {
  overflow-y: auto;
  height: 150px;
}
</style>