<template>
  <v-row>
    <v-dialog
      v-model="showModal"
      max-width="900"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
        >
          Посмотреть информацию
        </v-btn>
      </template>
      <v-card v-if="company !== null" max-height="650" class="dialog-content">
        <v-card-title>
          <span class="headline">{{ company.name }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col>
                <div>
                  <p class="subtitle-1 font-weight-bold mb-0">Последняя дата обновления каталога товаров:</p>
                  <p class="text-h6">{{ date(company.status.lastCheckDate) }}</p>
                </div>
                <v-divider
                  class="my-4 dark"
                  style="opacity: 1"
                >
                </v-divider>
                <div>
                  <p class="subtitle-1 font-weight-bold mb-0">Общее количество товаров:</p>
                  <p class="text-h6">{{ company.status.totalProducts }}</p>
                </div>
              </v-col>
              <v-col>
                <div>
                  <p class="subtitle-1 font-weight-bold mb-0">Товаров в наличии:</p>
                  <p class="text-h6">{{ company.status.availableProducts }}</p>
                </div>
                <v-divider
                  class="my-4 dark"
                  style="opacity: 1"
                >
                </v-divider>
                <div>
                  <p class="subtitle-1 font-weight-bold mb-0">Товаров без наличия:</p>
                  <p class="text-h6">{{ company.status.nonAvailableProducts }}</p>
                </div>
              </v-col>
            </v-row>

            <v-divider
              class="my-4 default"
              style="opacity: 1"
            >
            </v-divider>

            <v-row>
              <v-col>
                <div class="d-flex align-center">
                  <p class="subtitle-1 font-weight-bold mb-0 mr-5">Выбрать город:</p>
                  <v-btn
                    elevation="2"
                    color="primary"
                    @click="showCities = !showCities"
                  >
                    Показать города
                  </v-btn>
                </div>

                <v-divider
                  class="my-4 default"
                  style="opacity: 1"
                >
                </v-divider>

                <Cities :cities="company.cities" :showCities="showCities" />

              </v-col>
            </v-row>

          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="showModal = false"
          >
            Закрыть
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex';
import Cities from '@/components/Cities';

export default {
  data: () => ({
    showModal: false,
    showCities: false
  }),
  components: {
    Cities
  },
  async created() {
    await this.$store.dispatch('fetchCompanyData');
  },
  computed: {
    ...mapGetters({company: 'companyData'}),
    date() {
      return (d) => new Date(d).toLocaleDateString();
    }
  }
}
</script>

<style>
.dialog-content {
  overflow: hidden;
}
</style>