<template>
  <v-app>
    <v-main>
      <v-container>
        <v-row class="mb-5">
          <v-col>
            <h1 class="text-h2">Посмотрите информацию о IT Solutions</h1>
          </v-col>
        </v-row>
        
        <Modal />

      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Modal from '@/components/Modal';

export default {
  components: { Modal }
};
</script>
